.css-module-div {
  background: red;
}

.css-module-title {
  font-size: 20px;
  color: lightgreen;
}

.block {
  width: 200px;
  height: 200px;
}

.test-camelCase {
  background: blue;
}

.testCamelCase {
  background: purple;
}
